* {
    padding: 0;
    margin: 0;
}

#main {
    margin: 200px auto;
    height: 320px;
    width: 1000px;
}

.background {
    background-image: url("umbrella.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(44, 44, 41, 0.7);
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    text-align: center;
}

.content {
    color: #ffffff;
    margin: 0 auto;
}

.row {
    margin: 45px;
}

button {
    font-size: 16px;
    padding: 15px;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px #000000;
}

