* {
    padding: 0;
    margin: 0;
}

#main {
    margin: 200px auto;
    height: 320px;
    width: 1000px;
}

.background {
    background-image: url("umbrella.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(44, 44, 41, 0.7);
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    text-align: center;
}

.content {
    color: #ffffff;
    margin: 0 auto;
}

.row {
    margin: 45px;
}

button {
    box-shadow: inset 0px 0px 0px 0px #cf866c;
    background: linear-gradient(to bottom, #e4553f 5%, #d83f2e 100%);
    border-radius: 4px;
    border: 1px solid #942911;
    color: #fff;
    font-size: 16px;
    opacity: 1;
    padding: 16px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

button:hover {
    opacity: 0.8;
}

